@import "../../../../assets/theme/variables";

.card {
  background: url("../../../../assets/img/card-background.jpeg") round;
  height: 27rem;
  width: 20rem;
  background-size: contain;
  border-radius: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  cursor: pointer;
  box-shadow: 2px 2px 12px $gray;

  .cardName {
    position: absolute;
    bottom: 3rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: $body;
  }
}

@media #{$smartphone} {
  .card {
    height: 14rem;
    width: 9rem;

    .cardName {
      bottom: 1.5rem;
      font-size: 1rem;
      text-align: center;
    }
  }
}
